# EFT operators
# A list of SMEFTsim operators (must be a subset of the keys of eft_dict)
selected_operators = ['ctGRe', 'ctj1', 'cQd1', 'cQu1', 'ctj8', 'cQd8', 'cQu8', 'ctd1', 'ctu1', 'cQj11', 'cQj31', 'ctd8', 'ctu8', 'cQj38', 'cQj18']

# Process
process_definition = "generate p p > t t~ QCD=2 NP=1 NPprop=0 SMHLOOP=0"

# General parameters
safety_factor = 2 # for the lepton filter

fixed_scale = fixed_scale = 345. # ~ m(top)+m(top)

gridpack = False

# Metadata
evgenConfig.description = "SMEFTsim 3.0 tt, nonallhad, top model, reweighted, EFT vertices, no propagator correction"

include("TEMPLATE_INSERT_CONTROL_PY")

# Event filter
include('GeneratorFilters/TTbarWToLeptonFilter.py')
filtSeq.TTbarWToLeptonFilter.NumLeptons = -1
filtSeq.TTbarWToLeptonFilter.Ptcut = 0.0
